<form #f="ngForm" (ngSubmit)="submitForm(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input
        required
        minlength="3"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors.required">FirstName is Required</div>
        <div *ngIf="firstName.errors.minlength">
          FirstName should be of Length
          {{ firstName.errors.minlength.requiredLength }}
        </div>
        <div *ngIf="firstName.errors.pattern">FirstName pattern is wrong..</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      name="comment"
      #comment="ngModel"
      (change)="log(comment)"
      class="form-control"
      cols="30"
      rows="5"
      id="comment"
    >
    </textarea>
  </div>

  <div class="checkbox">
    <label
      ><input type="checkbox" required ngModel name="isSubscribed" /> Subscribe
      to mailing list</label
    >
  </div>

  <div class="form-group">
    <label for="contactMethod">ContactMethod</label>
    <select
      required
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value="">--</option>
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{
        method.name
      }}</option>
    </select>
  </div>

  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input
        type="radio"
        ngModel
        name="contactRadioButton"
        [value]="method.id"
      />
      {{ method.name }}
    </label>
  </div>
  <button [disabled]="!f.valid">Submit</button>
  <pre>{{ f.value | json }}</pre>
</form>
